@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #__next {
    @apply bg-white dark:bg-black box-content flex flex-col min-h-screen min-w-[360px];
  }

  @font-face {
    font-family: 'Bitstream Vera Sans Mono';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/bitstream-vera-sans-mono-regular.woff2)
      format('woff2');
  }

  @font-face {
    font-family: 'Bitstream Vera Sans Mono';
    font-style: italic;
    font-weight: 400;
    font-display: optional;
    src: url(/fonts/bitstream-vera-sans-mono-italic.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Bitstream Vera Sans Mono';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/bitstream-vera-sans-mono-bold.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Bitstream Vera Sans Mono';
    font-style: italic;
    font-weight: 700;
    font-display: optional;
    src: url(/fonts/bitstream-vera-sans-mono-bold-italic.woff2)
      format('woff2');
  }
}

@layer components {
  .prose .qrcode {
    @apply text-base lg:text-xl p-0 border-none overflow-hidden rounded-none;
    font-family: ui-monospace, monospace;
    line-height: 1.1;
  }
  .prose .language-qrcode {
    @apply border-0 text-gray-500 leading-none p-0;
  }

  hr {
    height: 2px;
    overflow: hidden;
    border: none;
    line-height: 0;
  }

  hr:after {
    content:"--------------------------------------------------------------------------------------------------";
  }

  .hp-featured-black {
    background-image: 
      linear-gradient(to right, black 50%, transparent 50%), 
      linear-gradient(to right, black 50%, transparent 50%), 
      linear-gradient(to bottom, black 50%, transparent 50%), 
      linear-gradient(to bottom, black 50%, transparent 50%);
  }

  .hp-featured-white {
    background-image: 
      linear-gradient(to right, white 50%, transparent 50%), 
      linear-gradient(to right, white 50%, transparent 50%), 
      linear-gradient(to bottom, white 50%, transparent 50%), 
      linear-gradient(to bottom, white 50%, transparent 50%);
  }

  .hp-featured {
    background-position: 
      left top, 
      left bottom, 
      left bottom, 
      right top;
    background-repeat: 
      repeat-x, 
      repeat-x, 
      repeat-y, 
      repeat-y;
    background-size: 
      10px 1.5px, 
      10px 0px, 
      1.5px 10px, 
      1.5px 10px;
  } 
  
  .hp-featured:last-of-type {
    background-size: 
      10px 1.5px, 
      10px 1.5px, 
      1.5px 10px, 
      1.5px 10px;
  }    

  .hp-featured-md {
    background-position: 
      left top, 
      left bottom, 
      left bottom, 
      right top;
    background-repeat: 
      repeat-x, 
      repeat-x, 
      repeat-y, 
      repeat-y;
    background-size: 
      10px 1.5px, 
      10px 1.5px, 
      1.5px 10px, 
      1.5px 10px;
  }
  
  .hp-featured-md:first-of-type {
    background-size: 
      10px 1.5px, 
      10px 1.5px, 
      1.5px 10px, 
      0px 10px;
  }

  .hp-featured-md:last-of-type {
    background-size: 
      10px 1.5px, 
      10px 1.5px, 
      0px 10px, 
      1.5px 10px;
  }    
}
